:root {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background: url(./assets/webb-dark.png);
}

.link{
  font-size: 3em;
}

a{
  text-decoration: none;
  color: #2fc3d4;
}

h4{
  color: #2fc3d4;
  font-size: 1.4em;
}

a:hover{
  color: #7fe9f5;
}


.header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.cards-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.card{
  min-width: 240px;
  height: 320px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2px);
  border-radius: 4px;
}